{% extends 'layouts/base.html' %}

{% block title %} Node Information {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Node Information</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="rawdata.html">Rawdata</a></li>
                <li class="breadcrumb-item"><a href="#">Node Information</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="node_information.html" class="btn btn-sm btn-neutral">Node Info</a>
            <a href="each_update_full.html" class="btn btn-sm btn-neutral">Update History</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-header border-0">
            <h3 class="mb-0">Node Information</h3>
          </div>
          <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort">node_id</th>
              <th scope="col" class="sort">lat_coord</th>
              <th scope="col" class="sort">long_coord</th>
              <th scope="col" class="sort">time_initialized</th>
              <th scope="col" class="sort">last_update_time</th>
            </tr>
          </thead>
          <tbody>
            {%for d in all_data%}
            <tr>
              <td>{{d.node_id}}</td> 
              <td>{{d.lat_coord}}</td> 
              <td>{{d.long_coord}}</td> 
              <td>{{d.time_initialized}}</td> 
              <td>{{d.last_update_time}}</td> 
            </tr>
            {% endfor %}
          </tbody>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

<!--
  <th scope = "row"> {{ d.id }} </th>
              <td>{{d.update_time}}</td> 
              <td>{{d.node}}</td>
              <td>{{d.soil_temp_0}}</td> 
              <td>{{d.soil_temp_10}}</td>
              <td>{{d.soil_temp_20}}</td> 
              <td>{{d.soil_moisture_0}}</td>
              <td>{{d.soil_moisture_10}}</td> 
              <td>{{d.soil_moisture_20}}</td>
              <td>{{d.ph_0}}</td> 
              <td>{{d.ph_10}}</td>
              <td>{{d.ph_20}}</td>
              <td>{{d.light_intensity_0}}</td>
-->