{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Average Temperature</h5>
                      <span class="h2 font-weight-bold mb-0">{{tmin}} - {{tmax}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2 text-red"> {{tdiff}} ({{tratio}}%)</span>
                    <span class="text-nowrap">Average since last update</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Average Moisture Level</h5>
                      <span class="h2 font-weight-bold mb-0">{{mmin}} - {{mmax}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2 text-red">{{mdiff}} ({{mratio}}%)</span>
                    <span class="text-nowrap">Average since last update</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Soil Acid-base Degree [pH]</h5>
                      <span class="h2 font-weight-bold mb-0">{{phmin}} - {{phmax}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2 text-red">{{phdiff}} ({{phratio}}%)</span>
                    <span class="text-nowrap">Average since last update</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Surface ligh Intensity</h5>
                      <span class="h2 font-weight-bold mb-0">{{limin}} - {{limax}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2 text-red">{{lidiff}} ({{liratio}}%)</span>
                    <span class="text-nowrap">Average since last update</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview Among All Nodes</h6>
                  <h5 class="h3 text-white mb-0">Average Light Intensity</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0">
                      <a href="dashboard.html" class="btn btn-sm btn-neutral">Temperature</a>
                      <a href="dashboardmoisture.html" class="btn btn-sm btn-neutral">Moisture</a>
                      <a href="dashboardph.html" class="btn btn-sm btn-neutral">pH</a>
                      <a href="dashboardli.html" class="btn btn-sm btn-neutral">Light Intensity</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-dark" class="chart-canvas"></canvas>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                  var ctx = $('#chart-dark').get(0).getContext('2d');
                  var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                          labels: JSON.parse('{{ c1 | safe }}').labels,
                          datasets: [{
                              label: 'ground',
                              data: JSON.parse('{{ c1 | safe }}').value1,
                              borderColor: 'rgb(17, 205, 239)',
                              tension: 0.3
                          }]},
                          options: {
                          scales: {
                              x: {
                                  gridLines: {
                                      color: 'rgba(255, 255, 255, 0.7)', // White with some transparency
                                      zeroLineColor: 'rgba(255, 255, 255, 1)' // White for the zero line
                                  },
                                  ticks: {
                                      color: 'rgb(238, 238, 238)' // Set the x-axis label text color
                                  },
                                  title: {
                                      display: true,
                                      text: 'Date-Time',
                                      color: 'rgb(255, 255, 255)' // Optional: Set the x-axis title color
                                  }
                              },
                              y: {
                                  gridLines: {
                                      color: 'rgba(255, 255, 255, 0.7)', // White with some transparency
                                      zeroLineColor: 'rgba(255, 255, 255, 1)' // White for the zero line
                                  },
                                  ticks: {
                                      color: 'rgb(255, 255, 255)' // Set the y-axis label text color
                                  },
                                  title: {
                                      display: true,
                                      text: 'Temperature [°C]',
                                      color: 'rgb(255, 255, 255)' // Optional: Set the y-axis title color
                                  }
                                }
                              },
                              plugins: {
                                legend: {
                                    labels: {
                                        color: 'rgb(255, 255, 255)' // Legend text color
                                    }
                                }
                            }
                          }
                    });
                </script>            
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body">
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1uVJ-V4pOWXZG3gTVn6ngo70lTV-s2yg&ehbc=2E312F" width="335" height="430"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Lastest Data</h3>
                </div>
                <div class="col text-right">
                  <a href="each_update_full.html" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort">update_time</th>
                    <th scope="col" class="sort">node_id</th>
                    <th scope="col" class="sort">soil_temp_0</th>
                    <th scope="col" class="sort">soil_temp_10</th>
                    <th scope="col" class="sort">soil_temp_20</th>
                    <th scope="col" class="sort">soil_moisture_0</th>
                    <th scope="col" class="sort">soil_moisture_10</th>
                    <th scope="col" class="sort">soil_moisture_20</th>
                    <th scope="col" class="sort">ph_0</th>
                    <th scope="col" class="sort">ph_10</th>
                    <th scope="col" class="sort">ph_20</th>
                    <th scope="col" class="sort">light_intensity_0</th>
                  </tr>
                </thead>
                <tbody>
                  {%for d in hu%}
                  <tr>
                      <td>{{d.update_time}}</td> 
                      <td>{{d.node_id}}</td>
                      <td>{{d.soil_temp_0}}</td> 
                      <td>{{d.soil_temp_10}}</td>
                      <td>{{d.soil_temp_20}}</td> 
                      <td>{{d.soil_moisture_0}}</td>
                      <td>{{d.soil_moisture_10}}</td> 
                      <td>{{d.soil_moisture_20}}</td>
                      <td>{{d.ph_0}}</td> 
                      <td>{{d.ph_10}}</td>
                      <td>{{d.ph_20}}</td>
                      <td>{{d.light_intensity_0}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Node List</h3>
                </div>
                <div class="col text-right">
                  <a href="node_information.html" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort">node_id</th>
                    <th scope="col" class="sort">lat_coord</th>
                    <th scope="col" class="sort">long_coord</th>
                    <th scope="col" class="sort">time_initialized</th>
                  </tr>
                </thead>
                <tbody>
                  {%for d in ni%}
                  <tr>
                    <td>{{d.node_id}}</td> 
                    <td>{{d.lat_coord}}</td> 
                    <td>{{d.long_coord}}</td> 
                    <td>{{d.time_initialized}}</td> 
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}

<!--<ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Day</span>
                        <span class="d-md-none">D</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>-->